<div id="movies-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <app-spinner *ngIf="loading"></app-spinner>

    <div *ngIf="!loading" class="carousel-inner">
        <div *ngFor="let itemGroup of itemGroups" class="carousel-item">
            <div class="items-container">
                <div *ngFor="let item of itemGroup.items; let hover = false" 
                class="item-element" (mouseover)="hover = true" (mouseleave)="hover = false"
                [ngStyle]="!hover ? {'background-image': 'url(' + item.poster + ')', 'width': 100 / groupDimension + '%'} : {'background-image': 'linear-gradient(rgba(108,116,124, 0.5), rgba(108,116,124, 1)), url(' + item.poster + ')', 'width': 100 / groupDimension + '%'}">
                    <h4 class="title">{{ item.title }}</h4>
                    <p class="plot">{{ item.plot }}</p>
                </div>
            </div>
        </div>
    </div>

    <a *ngIf="multiple && !loading" class="carousel-control-prev" href="#movies-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a *ngIf="multiple && !loading" class="carousel-control-next" href="#movies-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>