<!-- small screens-->
<nav class="navbar navbar-expand nav-fill sticky-top">
    <a class="navbar-brand" routerLink="/">
        <app-small-html-logo></app-small-html-logo>
    </a>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link success" routerLink="/search">
                Search
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link success" routerLink="/favourites">
                Favs
            </a>
        </li>
    </ul>
</nav>