<div class="modal fade bd-modal" tabindex="-1" role="dialog" aria-labelledby="commentsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Comments over {{ movie.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-spinner *ngIf="loading"></app-spinner>
                <div *ngIf="!loading">
                    <p>{{ comments.length }} {{ comments.length === 1 ? 'comment' : 'comments' }} over this movie.</p>
                    <div *ngFor="let comment of comments">
                        <p>{{ comment.name }}</p>
                        <p>{{ comment.text }}</p>
                        <p>{{ comment.date | date: 'medium'}}</p>
                    </div>
                    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="text" formControlName="comment" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" />
                            <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
                                <div *ngIf="f.comment.errors.required">Comment is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-success">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Add comment
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>