.data-container {
  padding: 2em 1em 1em 1em;
  height: inherit;
  overflow: auto;
  text-align: left;
  transition: height 1s;
}
.jumbotron {
  background-color: #202121;
  padding: 2rem;
}
.artists-lists-elem {
  margin-bottom: 1em;
}
.artists-lists-elem p {
  margin-bottom: 0.5em;
}
