.data-container {
    padding: 2em 1em 1em 1em;
    height: inherit;
    overflow: auto;
    text-align: left;
    transition: height 1s;
}

div[class^='col-'] {
    margin-bottom: 1em;
}

.jumbotron {
    background-color: #202121;
    padding: 2rem;
}

.poster-container {
    margin: auto;
}

.badge {
    padding: 1em;
    margin-bottom: 1em;
    display: block;
}