<div class="data-container">
    <h1>{{ movie.title }}
        <app-clickable-star [movie]="movie"></app-clickable-star>
    </h1> 
    <div class="row align-items-center">
        <div class="col-sm-6 col-lg-3">
            <div class="jumbotron poster-container">
                <img [attr.src]="movie.poster" class="full-width" onerror="this.src='assets/img/NoImageFound.png';"/>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
                <app-rating-chart [imdb]="movie.imdb"></app-rating-chart>
            </div>
        <div class="col-lg-6">
            <div *ngIf="movie.year" class="year badge badge-primary">{{ movie.year}}</div>
            <div *ngIf="movie.genres" class="country">
                <div *ngFor="let genre of movie.genres" class="badge badge-primary">{{ genre }}</div>
            </div>
            <div *ngIf="movie.countries" class="country">
                <div *ngFor="let country of movie.countries" class="badge badge-primary">{{ country }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="artists-lists col-sm-4">
            <app-artists-lists-elem *ngIf="movie.directors" [elems]="movie.directors" [name]="'directors'"></app-artists-lists-elem>
            <app-artists-lists-elem *ngIf="movie.writers" [elems]="movie.writers" [name]="'writers'"></app-artists-lists-elem>
            <app-artists-lists-elem *ngIf="movie.cast" [elems]="movie.cast" [name]="'cast'"></app-artists-lists-elem>
        </div>
        <div *ngIf="movie.fullplot" class="fullplot col-sm-8">
            <div class="jumbotron">
                {{ movie.fullplot }}
            </div>
        </div>
    </div>
</div>