<div class="data-container">
    <div class="first-line">
        <div class="rating">Rating 7.4</div>
        <div class="country">USA</div>
        <div class="year">1903</div>
    </div>
    <div class="artists-lists">
        <div class="directors">
            <p>Directors</p>
            <ul>
                <li>Edwin S. Porter</li>
            </ul>
        </div>
        <div class="writers">
            <p>Writers</p>
            <ul>
                <li>Thomas H. Ince (story)</li>
                <li>C. Gardner Sullivan (story)</li>
            </ul>
        </div>
        <div class="cast">
                <p>Cast</p>
                <ul>
                    <li>George Beban</li>
                    <li>Clara Williams</li>
                    <li>J. Frank Burke</li>
                    <li>Leo Willis</li>
                </ul>
            </div>
    </div>
    <div class="fullplot">
        Kate and her actor brother live in N.Y. in the 21st Century. Her ex-boyfriend, Stuart, lives above her apartment. Stuart finds a space near the Brooklyn Bridge where there is a gap in time. He goes back to the 19th Century and takes pictures of the place. Leopold -- a man living in the 1870s -- is puzzled by Stuart's tiny camera, follows him back through the gap, and they both ended up in the present day. Leopold is clueless about his new surroundings. He gets help and insight from Charlie who thinks that Leopold is an actor who is always in character. Leopold is a highly intelligent man and tries his best to learn and even improve the modern conveniences that he encounters.
    </div>
</div>