<div class="sidebar full-height">
    <div>
        <a routerLink="/" class="btn btn-outline-success selected">
            <fa-icon [icon]="['fas', 'home']" size="sm"></fa-icon>
            <span>&nbsp;Home</span>
        </a>
    </div>
    <div>
        <a routerLink="/search" class="btn btn-outline-success">
            <fa-icon [icon]="['fas', 'search']" size="sm"></fa-icon>
            <span>&nbsp;Search</span>
        </a>
    </div>
    <div>
        <a routerLink="/favourites" class="btn btn-outline-warning selected">
            <fa-icon [icon]="['fas', 'star']" size="sm"></fa-icon>
            <span>&nbsp;Favs</span>
        </a>
    </div>
</div>

