.relative-container {
  position: relative;
}
.absolute-container {
  position: absolute;
  transition: top 1s;
}
#up-parent {
  position: absolute;
  left: 80%;
  line-height: 0;
  transition: top 1s;
}
#up-parent .up {
  position: relative;
  font-size: 1.5em;
  background-color: transparent;
  padding: 0;
  color: pink;
}
#up-parent .up:focus {
  box-shadow: none;
}
