.relative-container {
  position: relative;
}
.absolute-container {
  position: absolute;
  transition: top 1s;
}
#up-parent {
  position: absolute;
  top: 49%;
  left: 1%;
  line-height: 0;
  transition: top 1s;
}
#up-parent #up {
  position: relative;
  height: 0px;
  width: 50px;
  padding: 0;
  background-color: #f8f9fa;
}
#up-parent #up::after {
  position: absolute;
  right: -1px;
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 25px 25px 25px;
  border-color: #f8f9fa transparent transparent transparent;
}
