$success-green-color: #28a745;
$success-green-color-hover: #218838;
/*$semi-transparent-success-background: rgba(40, 167, 69, 0.1);
$middle-transparent-success-background: rgba(40, 167, 69, 0.6);
$light-transparent-success-background: rgba(40, 167, 69, 0.3);*/
$success-green-background: rgba(40, 167, 69, 1);


$light-transparent-white-background: rgba(255, 255, 255, 0.3);


$success-color: #6c757d;
$success-color-hover: #5a6268;
$semi-transparent-success-background: rgba(108,116,124, 0.1);
$middle-transparent-success-background: rgba(108,116,124, 0.6);
$light-transparent-success-background: rgba(108,116,124, 0.3);
$success-background: rgba(108,116,124, 1);

$golden: #ffc107;